<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>蒙多电影资讯网</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="refresh" content="<?php echo $time;?>;url=<?php echo $url;?>" />
	<link rel="stylesheet" href="public/css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script type="text/javascript" src="public/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="public/js/jquery-func.js"></script>
</head>
<body>
<!-- Shell -->
<div style="width:auto;height:108px;color:red;margin:160px;font-size:22px;text-align:center;">
	<div style="width:auto;height:25px;color:red;margin:0px;text-align:center;background-color:#f2a223;"></div>
	<?php echo $str;?>
	<div style="width:auto;height:25px;color:red;text-align:center;position:relative;bottom:0px;background-color:#f2a223;"></div>
	<!-- end Footer -->
</div>
<!-- end Shell -->
</body>
</html>