<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>蒙多电影资讯网--会员注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="蒙多电影网|LestatLee" />
<link href="public/css/style_login.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="public/js/jquery.min.js"></script>
<script type="text/javascript">
	var usernameObj;
	var spanObj;
	window.onload = function(){
		spanObj = document.getElementById('check');
		spanObj.innerHTML = "用户名检测";
	}
	function validate(){
		if(!check()){
			alert('信息填写有误，请查看红字部分');
		}
		return check();
	}
	function check(){
		usernameObj = document.getElementById('username');
		hiddenObj = document.getElementById('hidden');
		str_users = hiddenObj.value;
		arr_users = str_users.split(',');
		//alert(arr_users);
		if(arr_users.indexOf(usernameObj.value) != -1){
			//重复
			spanObj.style.color = 'red';
			spanObj.innerHTML = '用户名重复';
			return false;
		}else{
			if(usernameObj.value != ''){
				//可以使用
			spanObj.style.color = 'green';
			spanObj.innerHTML = '用户名可以使用';
			return true;
			}else{
				spanObj.style.color = 'red';
				spanObj.innerHTML = '用户名不能为空';
				return false;
			}
		}
	}
</script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>

<h1>蒙多电影资讯网--会员快速注册</h1>
<div class="login-form">
	<div class="head-info">
		<label class="lbl-1"> </label>
		<label class="lbl-2"> </label>
		<label class="lbl-3"> </label>
	</div>
	<div class="clear"> </div>
	<div class="avtar"><img src="public/images/avtar.png" /></div>
	<form onsubmit="return validate()" id="register" method='post' action='index.php?c=register&a=submit'>
		<input type="hidden" id="hidden" name="hidden" value="<?php echo $str_users; ?>" />
		<br /><font color='#888'>带<font color="red">*</font>选项为必填项</font><br />
		<font color='#888'><font color="red">*</font>请输入用户名(4-20位,且不能含有中文)</font>
		<input id="username" type="text" name='user' class="text" onblur="check(this)"/>
		<br /><span id="check"></span>
		<br /><font color='#888'><br /><font color="red">*</font>请输入密码(6-20位)</font>
		<input type="password" name='pwd' class="text" value="">
		<br /><font color='#888'><br /><font color="red">*</font>请确认密码</font>
		<input type="password" name='repwd' class="text" value="">
		<br /><font color='#888'><br /><font color="red">*</font>请输入邮箱地址</font>
		<input type="text" name='email' class="text" >
		<br /><font color='#888'><br /><font color="red">*</font>请输入手机号码</font>
		<input type="text" name='tele' class="text" >
		<font style='color:#ccc;'><font color='#888'>
				<br /><font color="red">*</font>请输入下方验证码
			</font>
			<input type="text" name='captcha' class="text" value="">
			<br /><br />
			<img src="index.php?c=privilege&a=captcha" alt="CAPTCHA" style="cursor: pointer;" title="看不清？点击更换另一个验证码。" onclick="this.src='index.php?c=privilege&a=captcha&'+Math.random()" />
			<br />
		<div><font style='color:#ccc;'><br />已有账号?<a href='index.php?a=login&c=privilege' style='color:red;'>点我登陆</a></font></div><br />
		<div class="signin"><input type="submit" value="点击注册" ></div>
	</form>
</div>
<div class="copy-rights">
	<p>Copyright &copy; 2015.蒙多电影资讯网  All rights reserved.<a target="_blank" href="http://www.lestatlee.com/">了解更多</a></p>
</div>
</body>
</html>